# 001 ~ 010 문제
## 파이썬 시작하기

In [33]:
### 001 print 기초
### 화면에 Hello World 문자열 출력하세요

print("Hello World")

Hello World

In [3]:
### 002 print 기초
### 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's costmestics")

Mary's costmestics

In [4]:
### 003 print 기초
### 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.
### 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
### 004 print 기초
### 화면에 C:\Windows를 출력하세요

print("C:\Windows")

C:\Windows

<>:4: SyntaxWarning: invalid escape sequence '\W'
<>:4: SyntaxWarning: invalid escape sequence '\W'
C:\Users\wupei\AppData\Local\Temp\ipykernel_15520\38246582.py:4: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [14]:
### 005 print 탭과 줄바꿈
### 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요

print("안녕하세요.\n 만나서\t\t 반갑습니다.")
## \n은 줄바꿈
## \t는 탭

안녕하세요.
 만나서		 반갑습니다.

In [16]:
### 006 print 여러 데이터 출력
### print 함수에 두 개의 단어를 입력한 예제입니다. 아래 콛의 출력 결과를 예상해 봅시다.

print("오늘은", "일요일")  ### "오늘은 일요일"로 출력 될 것임

오늘은 일요일

In [17]:
### 007 print 기초
### print() 함수를 사용하여 다음과 같이 출력하세요.
### naver;kakao;sk;samsung

print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [18]:
### 008 print 기초
### print() 함수를 사용하여 다음과 같이 출력하세요
### naver/kakao/sk/samsung

print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [22]:
### 009 print 줄바꿈
### 다음 코드를 수정하여 줄바꿈 없이 출력하게요. (힌트:end=") print함수는 두번 사용합니다. 세미콜론(;)은 한줄에
### 여러 개의 명령을 작성하기 위해 사용합니다
### print("first");print("second")
print("first", end=""); print("second")

firstsecond

In [24]:
### 010 연산 결과 출력
### 5/3의 결과를 화면에 출력하세요

print(5/3)

1.6666666666666667

# 파이썬 문제 011 ~ 020
## 파이썬 변수

In [26]:
### 011 변수 사용하기
### 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때
### 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10

print(총평가금액)

500000

In [31]:
### 012 변수 사용하기
### 다음 표는 삼성전자의 일부 투자정보입니다.
### 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요
### |항목|값|
### |시가총액|298조|
### |현재가|50,000원|
### |PER|15.79|

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [36]:
시가총액, type(시가총액)

(15.79, float)

In [37]:
현재가, type(현재가)

(50000, int)

In [38]:
PER, type(PER)

(15.79, float)

In [41]:
### 013 문자열 출력
### 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
### s = "hello" / t = "python"

### 두 변수를 이용하여 아래와 같이 출력해보세요
### 실행 예: hello! python

s = "hello"
t = "python"

print(s+"!"+"",t)

hello! python

In [42]:
### 014 파이썬을 이용한 값 계산
### 아래 코드의 실행 결과를 예상해보세요.
### 2+2*3

print(2+2*3)

8

In [44]:
### 015 type 함수
### type() 함수는 데이터 타입을 판별합니다.
### 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int(정수)형임을 알려줍니다

### 아래 변수에 바인딩된 값의 타입을 판별해보세요
a = "132" ### str

type(a)

str

In [50]:
### 016 문자열을 정수로 변환
### 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

num_int = int(num_str)
print((num_int +1), type(num_int))

721 <class 'int'>

In [52]:
### 017 정수를 문자열 100으로 변환
### 정수 100을 문자열 '100'으로 변환해 보세요
num = 100

In [53]:
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [55]:
### 018 문자열을 실수로 변환
### 문자열 "15.79"를 실수(float) 타입으로 변환해보세요

a = "15.79"
print(a)
type(a)

15.79

str

In [57]:
b = float(a)
print(b)
type(b)

15.79

float

In [59]:
### 019 무자열을 정수로 변환
### year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다.
### 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요

year = "2020"

print(year)
type(year)

2020

str

In [62]:
year_int = int(year)
print(year_int)
type(year_int)

2020

int

In [65]:
### 020 파이썬 계산
###에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
### 총 금액은 계산 후 이를 화면에 출력해보세요. (면수사용하기)

m_price = 48584
total_price = m_price * 36

print(total_price)

1749024

## 파이썬 문자열
### 021 ~ 050 문제

In [66]:
### 021 문자열 인덱싱
### letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요

letters = "python"

print(letters[0], letters[2])

p t

In [67]:
### 022 문자열 슬라이싱
### 자동차 번호가 다음과 같은 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [73]:
### 023 문자열 인덱싱
### 아래의 문자열에서 '홀'만 출력하세요.
string = "홀짝홀짝홀짝"

print(string[::2])

홀홀홀

In [75]:
### 024 문자열 슬라이싱
### 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [79]:
### 025 문자열 치환
### 아래의 전화번호에서 하이푼 ("-")을 제거하고 출력하세요.
phone_number = "010-1111-2222"

print(phone_number.replace("-", " "))

010 1111 2222

In [80]:
### 026 문자열 다루기
### 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요
### 01011112222

print(phone_number.replace("-", ""))

01011112222

In [84]:
### 027 문자열 다루기
### url에 지정된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
domain = url.split(".")

print(domain[-1])

kr

In [85]:
### 028 문자열은 immutable
### 아래 코드의 실행 결과를 예상해보세요

lang = 'python'
lang[0] = 'P'
print(lang) ### 오류 발생

TypeError: 'str' object does not support item assignment

In [86]:
### 029 replace 메서드
### 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string_re = string.replace('a', 'A')

print(string_re)

Abcdfe2A354A32A

In [88]:
### 30 replace 메서드
### 아래 코드의 실행 결과를 예상해보세요

string = 'abcd'
string.replace('b', 'B')
print(string)
### abcd => 대문자 B를 대체한 것을 변수로 설정 하지 않고 기존의 변수 'string'을 불러왔기 때문에

abcd

In [89]:
### 031 문자열 합치기
### 아래 코드의 실행 결과를 예상해보세요

a = "3"
b = "4"
print(a + b) ### 34로 예상, 무자열의 합이기 때문에

34

In [90]:
### 032 문자열 곱하기
### 아래 코드의 실행 결과를 예상해보세요

print("Hi" * 3) ### HiHiHi로 예상

HiHiHi

In [91]:
### 033 문자열 곱하기
### 화면에 '-'를 80개 출력하세요

print('-' * 80)

--------------------------------------------------------------------------------

In [92]:
### 034 문자열 곱하기
### 변수에 다음과 같은 문자열이 바인딩되어 있습니다
t1 = 'python'
t2 = 'java'
### 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
### python java python java python java python java

print((t1+" "+t2+" ")*4)

python java python java python java python java

In [95]:
### 035 문자열 출력
### 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이
### 출력하세요

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

### 실행 예
### 이름: 김민수 나이: 10
### 이름: 이철희 나이: 13
print("이름: %s 나이 : %d"%(name1, age1))
print("이름: %s 나이 : %d"%(name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [96]:
### 036 문자열 출력
### 문자열의 format() 메서드를 이용해서 035번 문제를 다시 풀어보세요
print("이름: {} 나이 : {}".format(name1, age1))
print("이름: {} 나이 : {}".format(name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [98]:
### 037 문자열 출력
### 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이 : {age1}")
print(f"이름: {name2} 나이 : {age2}")

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [99]:
### 038 컴마 제거하기
### 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
rm_상장주식수 = 상장주식수.replace(",","")
print(rm_상장주식수)

5969782550

In [102]:
in_상장주식수 = int(rm_상장주식수)

print(in_상장주식수)
type(in_상장주식수)

5969782550

int

In [103]:
### 039 문자열 슬라이싱
### 다음과 같은 문자열에서 '2020/03'만 출력하세요

분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [105]:
### 040 strip 메서드
### 문자열의 좌우의 공백이 있을 때, 이를 제거해보세요.

data = "   삼성전자    "

print(data.strip())

삼성전자

In [109]:
### 041 upper 메서드
### 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

Cap_ticker = ticker.upper()
print(Cap_ticker)

BTC_KRW

In [110]:
### 042 lower 메서드
### 다음과 같은 문자열이 있을 때 소문자 btc_krw로 변경하세요

ticker = "BTC_KRW"
lw_ticker = ticker.lower()

print(lw_ticker)

btc_krw

In [111]:
### 043 capitalize 메서드
### 문자열 'hllo'가 있을 때, 이를 'HELLO'로 변경해보세요

a = "hello"
print(a.capitalize())

Hello

In [113]:
### 044 endswith 메서드
### 파일 이름이 문자열로 저장되어 있을 때
### endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요
file_name = "보고서.xlsx"

file_name.endswith("xlsx")

True

In [119]:
### 045 endswith 메서드
### 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서
### 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name.endswith(('xlsx', 'xls'))

True

In [120]:
### 046 starswith 메서드
### 파일 이름이 문자열로 저장되어 있을 때 starswith 메서드를 사용해서
### 파일 이름이 '2020'로 시작하는지 확인해보세요

file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [121]:
### 047 split 메서드
### 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요
a = "hello world"
b = a.split(" ")
print(b)

['hello', 'world']

In [124]:
### 048 split 메서드
### 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

a = ticker.split("_")
print(a)

['btc', 'krw']

In [132]:
### 049 split 메서드
### 다음과 같이 날짜를 표현하는 문자열이 있을 때, 연도, 월, 일로 나눠보세요

date = "2020-05-01"
a = date.split("-")
year = a[0]
month = a[1]
day = a[2]

print(a)
year, month, day

['2020', '05', '01']

('2020', '05', '01')

In [134]:
### 050 rsrtip 메서드
### 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요
data = "039390       "

b = data.rstrip()
b

'039390'