In [1]:
### Q1

국어 = 80
영어 = 75
수학 = 55
과목 = [국어, 영어, 수학]
과목점수합계 = 국어+영어+수학
print(과목점수합계)

210

In [2]:
과목점수평균 = 과목점수합계/len(과목)
print(과목점수평균)

70.0

In [3]:
### Q2 자연수 13이 홀수인지 짝수인지 판별

print(13%2, '나머지가 0이 아니면 홀수')

1 나머지가 0이 아니면 홀수

In [5]:
### Q3. 홍길동 씨의 주민등록번호 881120-1068234
### 홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자

ID = "881120-1068234"
yymmdd = ID[:6]
num = ID[7:]
print(yymmdd)
print(num)

881120
1068234

In [7]:
### Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다
### 주민등록번호에서 성별을 나타내는 숫자를 출력해보자

print(ID)

881120-1068234

In [8]:
print(ID[7])

1

In [11]:
### Q5. 다음과 같은 문자열 a:b:c:d가 있다
### 문자열의 replace 함수를 사용하여 a#b#c#d#로 바꿔서 출력해보자

str = "a:b:c:d"
print(str)

a:b:c:d

In [13]:
str1 = str.replace(":", "#")
print(str1)

a#b#c#d

In [14]:
### Q6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어보자

In [16]:
a = [1,3,5,4,2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [17]:
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [18]:
### Q7. 'Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.

In [20]:
a = ['Life', 'is', 'too', 'short']
str = ' '.join(a)
print(str)

Life is too short

In [21]:
### Q8. (1,2,3) 튜플에 값 4 추가하기

a = (1,2,3)
a = a + (4,)

In [22]:
print(a)

(1, 2, 3, 4)

### Q9. 딕셔너리 a 가 있을 때,
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python''python'

In [24]:
a = dict()
a

{}

In [25]:
a['name'] = 'python'

In [26]:
a[('a',)] = 'python'

In [27]:
a([1]) = 'python' ### [1]은 리스트형으로 수정이 가능하므로 딕셔너리의 key 값으로 사용 불가

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3411482139.py, line 1)

In [28]:
a[250] = 'python'

In [29]:
### Q10. 딕셔너리 a에서 'B'에 해당 되는 값을 추출
a = {'A':90, 'B':80, 'C':70}

print(a['B'])

80

In [30]:
### Q11. a 리스트에서 중복 숫자를 제거

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [31]:
a_set = set(a)

print(a_set)

{1, 2, 3, 4, 5}

In [35]:
### Q12. 파이썬은 다음 처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.
a = b = [1,2,3]
### 위와 같이 a,와 b 변수를 선언 한 후 a의 두 번째 요소값을 변경하면 b 값은 어떻게 될까?

a[1] = 4

In [39]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [41]:
a

[1, 4, 3]

In [44]:
print(b), type(b)

[1, 4, 3]

(None, list)

In [45]:
### 변수 a와 b는 동일한 index를 가진 리스트를 할당 받았기 때문에